body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#radar-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #0f0;
}

.ring {
  stroke: #666;
  fill: none;
  stroke-dasharray: 4, 4;
}

#dot {
  fill: #00ff00;
  stroke: #0f0;
  stroke-width: 1px;
}
